<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="hero-blob"></div>
    <header>
        <h1><a href="{{ url_for('home') }}">Ghanashyam Khanal</a></h1>
        <nav>
            <a href="{{ url_for('home') }}" class="nav-link {% if request.path == '/' %}active{% endif %}">Home</a>
            <a href="{{ url_for('cricket') }}" class="nav-link {% if request.path == '/cricket' %}active{% endif %}">Cricket</a>
            <a href="{{ url_for('quantum') }}" class="nav-link {% if request.path == '/quantum' %}active{% endif %}">Quantum Computing</a>
            <a href="{{ url_for('contact') }}" class="nav-link {% if request.path == '/contact' %}active{% endif %}">Contact</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026, Ghanashyam Khanal</p>
    </footer>

</body>
</html>
